body {
    font-family: sans-serif;
    margin: 0;
    padding: 0 1em;
    background: white;
}

.nav-heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 6vw;
    margin: 0;
}

.nav-heading img {
    width: 5vw;
    margin: 1em;
}

.nav-heading h1 {
    font-size: 4vw;
}

.nav-heading i {
    flex-shrink: 2;
    text-align: center;
    color: white;
}

.shadow-hr {
    margin: 0 1vw;
    height: 2px;
    background-color: #ccc;
    box-shadow: 2px 2px 6px 3px #ccc;
}

.header-nav, .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .main {
    display: flex;
    flex-direction: column;
    background-image: url(./images/dog.jpg);
    background-size: cover;
}

.main-image-container {
    height: 60vh;
}
.container .main .main-image-container img {
    width: 100%;
    height: auto;
}

.main-article {
    border: 1px solid black;
    border-top: 1px solid white;
    margin: 0;
    padding: 0 1em;
    background-color: white;
}

.news-bulletin {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.news-bulletin header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 0 1em;
}

.news-bulletin ul {
    padding-inline-start: 0;
    width: 92vw;
    margin: 0 1em;
}

.news-bulletin ul li {
    list-style: none;
    border-bottom: 1px solid grey;
    padding: 1.1em 0;
}

.scores-table {
    background-color: white;
    text-align: center;
    margin: 1em;
    padding: 1em 0;
    height: 1em;
    width: 100%;
}

.scores-table tr td {
    padding: 1em 0;
}

.scores-table tr td:nth-child(1) {
    text-align: left;
    margin-left: 1em;
}
.space-between{
    margin : 0 1em;
}

.weather {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.current-weather {
    display: flex;
}

.weather-prediction {
    display: flex;
    justify-content: space-between;
}

.latest-news-nav {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.latest-news-nav header {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
}

.latest-news {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.latest-news img {
    width: 8vw;
    min-width: 5rem;
    margin: 0 1em 0 0;
}

.latest-news-item p .latest-news-item-heading {
    font-size: 1.5em;
    font-weight: 800;
}

.latest-news-item p .latest-news-item-text {
    font-size: 1rem;
    letter-spacing: 0.1em;
}

.footer-nav {
    justify-content: flex-start;
    margin-left: 1em;
    padding-inline-start: 0px;
}

.footer-nav li {
    text-align: left;
    font-size: 1rem;
    padding: 0;
    margin : 0 2rem;
}

/* Medium devices (landscape tablets, 768px and down) */

@media only screen and (max-width: 768px) {
    .container .main{
        background-image: none;
    }
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container .main {
        order: -2;
        width : 55%;
        background-image: url(./images/dog.jpg);
        background-size: cover;
    }
    .main{
        height: 50vw;
        position: relative;
    }
    .weather {
        order: -1;
        width: 32vw;
    }
    .current-weather{
        display: flex;
        justify-content: flex-end;
    }
    .weather h2{
        margin: 0;
    }
    .weather p{
        margin: 0;
        padding: 0;
    }
    .weather img{
        width: 2rem;
        height: 3rem;
    }
    .current-weather img{
        width: 6rem;
        height: auto;
    }
    .main-image-container {
        height: 20vw;
        border: 1px solid black;
        border-bottom: 0;
        opacity: 0.9;
    }
    .main-article, .main-article * {
        background-color: black;
        color: white;
    }
    .main-article {
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
    }
    .scores-table thead tr th {
        background-color: darkslateblue;
        color: white;
    }
    .scores-table tbody tr:nth-child(even) {
        background-color: aquamarine;
    }
    .footer-nav li{
        margin: 0 1em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 480px) {
    .main{
        flex: 1;
    }
    .weather {
        order: 2;
        flex: 1;
    }
    .current-weather{
        align-self: flex-start;
    }
    nav {
        display: none;
    }
    .nav-heading i {
        background-color: #ccc;
        text-align: center;
        margin-left: 35vw;
    }
}